@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Square&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1.3rem;
  line-height: 1.5;

  /* height: 300vh; */
}

/* Font Size
1.3rem, 1.5rem, 1.7rem, 2rem, 2.3rem,
2.5rem, 2.7rem, 3rem, 3.3rem, 3.5rem,
3.7rem, 4rem.
*/

/* COLOR SCHEME
#0B0C10
#1F2833
#C5C6C7
#66FCF1
#45A29E

#003135
#024950
#0FA4AF
#AFDDE5

#17252A
#2B7A78
#3AAFA9
#DEF2F1
#FEFFFF*/

/* BRIGHT MODE
p:#0B0C10
h1-6:#17252A

*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #17252a;
}
p {
  color: #0b0c10;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.header:first-child {
  font-size: 1.5rem;
}

.mode {
  justify-self: end;
  border: none;
  background: none;
  padding: 1rem;
}
.mode:hover {
  background: black;
  color: #ffffff;
}

.mode-icon {
  font-size: 3rem;
}

.nav {
  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  height: fit-content;
  background: #0078bd7c;
  backdrop-filter: blur(0.5rem);
  z-index: 999;
  border-radius: 10rem;

  width: 50rem;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}
.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}
.nav a:hover {
  background-color: black;
  color: #ffffff;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;

  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;

  max-width: 130rem;
  max-height: 100rem;
}

.hero article {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.hero article h1 {
  font-size: 4rem;
  text-align: start;
}

.hero article p {
  font-size: 2.2rem;
  text-align: justify;
}

.url {
  grid-column: 2/-1;
  justify-self: center;
  align-self: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 1rem;
}

.url--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1rem;
}

.url--form input[type="url"] {
  padding: 1rem;
  width: 65rem;
  border: 0.5px solid #ff0000;
  border-radius: 0.4rem;
  font-size: 2rem;
}

.url--form input[type="button"] {
  align-self: center;
  width: 50%;
  padding: 1rem;
  font-size: 2rem;

  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
.url--form input[type="button"]:hover {
  /* background:-webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: black;
  color: #c1c1ff;
}

.description {
  display: grid;
  grid-template-columns: 50rem 60rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
  max-width: 130rem;
}

.description--item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: justify;
  font-size: 1.7rem;
  gap: 2rem;

  justify-self: start;
  align-self: flex-start;
}

.description--item strong:first-child {
  font-size: 2rem;
}

.features {
  display: grid;
  grid-template-columns: 40rem 60rem;
  justify-content: center;
  gap: 5rem;

  margin-top: 8rem;
  margin-bottom: 8rem;

  text-align: justify;
}

.features-img {
  align-self: center;
}

.features-img img {
  border-radius: 1rem;
  max-width: 100%;
  height: 100%;
}

.features--rows {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.features--title {
  align-self: center;
  font-size: 2.5rem;
}

.hrs {
  border: 1px solid black;
  width: 40rem;
  align-self: center;
  margin-bottom: 2rem;
}

.hrs:last-child {
  margin-top: 1rem;
  margin-bottom: 0;
}

.ion-icon {
  color: orangered;
  align-self: center;
}

.features--content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1.5rem;
}

footer {
  width: 100%;
  text-align: center;
}

footer p {
  background-color: #17252a;
  color: #c1c1ff;
  padding: 0.5rem 0;
  font-size: 1.7rem;
}

.overlay {
  width: 200%;
  position: fixed;
  bottom: -5%;
  right: 0;
  left: 0;
  border-bottom: 4rem solid #17252a;
  filter: blur(2rem);
  z-index: 99;
}

/* Ensemble Decision Making:
Implement an ensemble approach that aggregates predictions from multiple models to achieve a more reliable final decision.

User Confidence and Interpretability:
Provide a confidence score with each prediction to help users understand the level of certainty in the classification results.
Through these objectives, this work aims to build a practical, deployable phishing detection solution that addresses the limitations
of existing systems and empowers users with reliable protection against phishing. */
