/* Font Size
1.3rem, 1.5rem, 1.7rem, 2rem, 2.3rem,
2.5rem, 2.7rem, 3rem, 3.3rem, 3.5rem,
3.7rem, 4rem.
*/

/* COLOR SCHEME
#0B0C10
#1F2833
#C5C6C7
#66FCF1
#45A29E

#003135
#024950
#0FA4AF
#AFDDE5

#17252A
#2B7A78
#3AAFA9
#DEF2F1
#FEFFFF*/

/* BRIGHT MODE
p:#0B0C10
h1-6:#17252A

*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #17252a;
}
p {
  color: #0b0c10;
}

/* .header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.header:first-child {
  font-size: 1.5rem;
} */

.mode {
  justify-self: end;
  border: none;
  background: none;
  padding: 1rem;
}

.mode-icon {
  font-size: 3rem;
}

/* Ensemble Decision Making:
Implement an ensemble approach that aggregates predictions from multiple models to achieve a more reliable final decision.

User Confidence and Interpretability:
Provide a confidence score with each prediction to help users understand the level of certainty in the classification results.
Through these objectives, this work aims to build a practical, deployable phishing detection solution that addresses the limitations
of existing systems and empowers users with reliable protection against phishing. */
