@tailwind components;
@tailwind utilities;
@tailwind base;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Square&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: fit-content;
}

/* pop_up_out.css */

body {
  background: #000;
  width: 70rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2.5rem; /* gap-10 */
  padding: 1.25rem; /* p-5 */
  font-family: Arial, sans-serif;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #edffffda;
}

/* Status Block */
#status-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

#status-block p {
  color: white;
  font-size: 1.6rem;
  text-align: center;
}

#url-status {
  font-weight: bolder;
}

#menu-modal {
  opacity: 0;
  pointer-events: none;
}

#menu-modal.show {
  opacity: 1;
  pointer-events: all;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Network Logs */
.network-log {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  padding: 1px;
  border-bottom: 2px solid #eee;
}

.item .url {
  color: #fff;
  word-break: break-all;
  margin: 8px 0px 4px 0px;
  font-size: 1.8rem;
}

.item .meta {
  color: #666;
  font-size: 1.6rem;
  margin: 4px 0px 8px 0px;
  overflow-y: auto;
}

.list {
  background: #111;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 0.8rem;
  /* max-height: 300px; */
  overflow-y: auto;
  font-size: 0.9rem;
  transition: all 300ms ease-in-out;
}

#nlog-btn {
  transition: all 150ms ease-in-out;
}

#nlog-btn:hover {
  color: lightgreen;
}

.network-log h3 {
  color: darkolivegreen;
  font-size: 2rem;
  width: fit-content;
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.list p {
  font-size: 1.5rem;
  font-weight: 500;
  color: whitesmoke;
}

/* Footer */
footer {
  font-size: 0.9rem;
  text-align: center;
  color: #888;
}

::selection {
  color: red;
  background: rgba(38, 38, 38, 0.7);
}
